@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
:root {
  @apply bg-white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.tajwal {
  font-family: 'Tajawal', sans-serif;
}
@font-face {
  font-family: 'Tajwal';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap')
      format('truetype');
}
.my-custom-class {
  display: flex;
}
